* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial;
}

body {
    background: #ffffff;
    color: #111;
}

/* Cabeçalho */
header {
    background: #b30000;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    color: #fff;
}

nav a {
    color: #fff;
    margin-left: 20px;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

/* Sessões */
.container {
    padding: 60px;
    display: flex;
    gap: 40px;
    align-items: center;
}

.container img {
    border-radius: 50%;
    border: 4px solid #b30000;
}

/* Projetos */
#projetos {
    padding: 60px;
    background: #f9f9f9;
}

#projetos h2 {
    text-align: center;
    margin-bottom: 30px;
    color: #b30000;
    font-size: 30px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    gap: 20px;
}

.card {
    background: #fff;
    border: 2px solid #b30000;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
}

.card h3 {
    color: #b30000;
}

.card a {
    margin-top: 10px;
    display: inline-block;
    padding: 8px 15px;
    background: #b30000;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.card a:hover {
    background: #8a0000;
}

/* contato */

#contato {
    padding: 60px;
    text-align: center;
}

#contato h2 {
    color: #b30000;
}

/* rodapé */
footer {
    background: #b30000;
    color: white;
    padding: 15px;
    text-align: center;
}
